node_modules/
out/
dist/
release/
.DS_Store
Thumbs.db
data/*.db
data/*.db-shm
data/*.db-wal
data/backups/
data/documents/
*.log
.env
import
src/renderer/src/src/
src/renderer/src/scripts/
src/renderer/src/server/
src/renderer/src/package*.json
src/renderer/src/postcss*
src/renderer/src/tailwind*
src/renderer/src/tsconfig*
src/renderer/src/vite*
src/renderer/src/electron*
src/renderer/src/README*
